---
import ButtonForm from "./form/ButtonForm.astro";
import UserIcon from "./icons/UserIcon.astro";
---
<Fragment set:html={`
<%
match username {
	Some(u) => {
%>`} />
<div class="dropdown dropdown-end">
	<label tabindex="0" class="btn btn-ghost normal-case gap-2">
		<Fragment set:html={`<%= u.as_ref() %>`} />
		<UserIcon />
	</label>
	<ul
		tabindex="0"
		class="dropdown-content menu mt-3 shadow p-2 bg-base-100 rounded-box w-52"
	>
		<a href="/settings" class="btn btn-ghost normal-case gap-2">Settings</a>
		<ButtonForm
			action="/logout"
			method="post"
			btnColor="ghost"
			text="Log out"
		/>
	</ul>
</div>
<Fragment set:html={`<%
	}
	None => {
%>`} />
<a href="/login" class="btn btn-ghost normal-case gap-2">Log in</a>
<Fragment set:html={`<%
	}
}
%>`} />
