---
import XCircleIcon from "./icons/XCircleIcon.astro";
import CheckCircleIcon from "./icons/CheckCircleIcon.astro";
import HeadingWithDivider from "./HeadingWithDivider.astro";
import ButtonForm from "./form/ButtonForm.astro";
---

<h2 class="text-xl font-bold mt-2">Account status</h2>
<Fragment set:html={`<% if &user.status != "confirmed" { %>`} />
<div class="w-full flex justify-between">
	<div class="alert alert-error mb-2 w-max">
		<div>
			<XCircleIcon />
			Unconfirmed
		</div>
	</div>
	<ButtonForm
		action="/settings/resend-confirmation-email"
		method="post"
		text="Resend confirmation email"
		btnColor="primary"
	/>
</div>
<Fragment set:html={`<% } else { %>`} />
<div class="alert alert-success w-max">
	<div>
		<CheckCircleIcon />
		<span>Confirmed</span>
	</div>
</div>
<Fragment set:html={`<% } %>`} />
