---
import ErrorIcon from "./icons/XCircleIcon.astro";
import SuccessIcon from "./icons/CheckCircleIcon.astro";
import WarningIcon from "./icons/WarningTriangle.astro";
import { colorVariants } from "../twUtil";

export interface Props {
	level: keyof typeof colorVariants.daisyAlert;
}
const { level } = Astro.props;

const alertClass = colorVariants.daisyAlert[level];
---
<div class={`alert ${alertClass} shadow-lg justify-start`}>
	{level === "error" ?
		<ErrorIcon />
	: level === "warning" ?
		<WarningIcon />
	: level === "success" ?
		<SuccessIcon />
	: undefined }
	<span><slot /></span>
</div>
