---
import { sizeVariants, colorVariants, fontWeightVariants } from "../twUtil"

export interface Props {
	size: keyof typeof sizeVariants.text;
	color?: keyof typeof colorVariants.text;
	weight?: keyof typeof fontWeightVariants;
}

const { color, size, weight = "bold" } = Astro.props;
const classes = [
	"mt-6",
	sizeVariants.text[size],
	color ? colorVariants.text[color] : undefined,
	weight ? fontWeightVariants[weight] : undefined
];
---

<h2 class:list={classes}><slot /></h2>
<div class="divider my-0"></div>
