---
import Card from "./Card.astro";
---
<Card title="Stats" boldTitle={true}>
	<div class="grid grid-rows-2 grid-cols-2 text-center">
		<div class="stat col-span-2">
			<span class="stat-title">Tasks</span>
			<span class="stat-value" set:html={`<%= num_tasks %>`} />
		</div>
		<div class="stat">
			<span class="stat-title">Complete</span>
			<span
				class="stat-value text-green-600"
				set:html={`<%= num_complete %>`}
			/>
		</div>
		<div class="stat">
			<span class="stat-title">Incomplete</span>
			<span
				class="stat-value text-red-600"
				set:html={`<%= num_incomplete %>`}
			/>
		</div>
	</div>
</Card>
