---
import AccountDropdown from "./AccountDropdown.astro";
import DropdownIcon from "./icons/DropdownIcon.astro";
---

<nav class="navbar border-b-[1px]">
	<div class="navbar-start">
		<div class="dropdown">
			<label tabindex="0" class="btn btn-ghost lg:hidden">
				<DropdownIcon />
			</label>
			<ul
				tabindex="0"
				class="menu menu-compact dropdown-content mt-3 p-2 shadow bg-base-100 rounded-box w-52"
			>
				<li><a href="/">Home</a></li>
				<li><a href="/tasks">Tasks</a></li>
			</ul>
		</div>
		<a href="/" class="btn btn-ghost normal-case text-xl">todo</a>
	</div>
	<div class="navbar-center hidden lg:flex">
		<ul class="menu menu-horizontal px-1">
			<li><a href="/">Home</a></li>
			<li><a href="/tasks">Tasks</a></li>
		</ul>
	</div>
	<div class="navbar-end"><AccountDropdown /></div>
</nav>
