---
import BlankLayout from "../layouts/Blank.astro";
import AccountStatusSetting from "../components/AccountStatusSetting.astro";
import FlashMessages from "../components/FlashMessages.astro";
import ButtonForm from "../components/form/ButtonForm.astro";
import HeadingWithDivider from "../components/HeadingWithDivider.astro";
import FormInput from "../components/form/Input.astro";

const headingClasses = ["text-xl", "font-bold", "mt-4"];
---

<BlankLayout pageTitle="todo settings" topnav="full">
  <div class="bg-base-200 flex-grow w-100 flex flex-col items-center">
    <FlashMessages extraClasses="mt-2" />
    <main class="w-full max-w-xl md:max-w-screen-md">
      <HeadingWithDivider size="xl2">Account settings</HeadingWithDivider>
      <AccountStatusSetting />

      <h2 class:list={headingClasses}>Change email</h2>
      <form action="/settings/email" method="post">
        <FormInput
          name="new_email"
          labelTopLeft="Email"
          type="email"
          value={`<%= user.email.as_ref() %>`}
        />
        <FormInput name="password" labelTopLeft="Password confirmation" type="password" />
        <button class="btn btn-primary mt-2">Change email</button>
      </form>

      <h2 class="text-xl font-bold mt-6">API key</h2>
      <div class="w-full flex justify-between items-center">
        <code class="px-4 h-12 bg-neutral text-primary-content w-max rounded-lg leading-6 flex items-center">
          <pre><Fragment set:html={`<%= user.api_key.trim() %>`} /></pre>
        </code>
        <ButtonForm
          text="Regenerate"
          action="/settings/api-key"
          method="post"
					btnColor="primary"
        />
      </div>

      <h2 class:list={headingClasses}>Change password</h2>
      <form action="/settings/password" method="post">
        <FormInput
          name="current_password"
          labelTopLeft="Current password"
          type="password"
        />
        <FormInput
          name="new_password"
          labelTopLeft="New password"
          type="password"
        />
        <FormInput
          name="new_password_check"
          labelTopLeft="New password check"
          type="password"
        />
        <button class="btn btn-primary mt-2">Change password</button>
      </form>

      <HeadingWithDivider size="xl2" color="red">
        Delete account
      </HeadingWithDivider>
      <form action="/settings/delete-account" method="post" class="mb-6">
        <p class="prose">
          This action <strong>cannot</strong> be undone. This will permanently delete
          your account and all associated data.
        </p>
        <p class="prose mb-2">
          Please confirm your current username and password to continue.
        </p>
        <FormInput
          labelTopLeft="Current username"
          type="text"
          name="username"
          placeholder="current username"
        />
        <FormInput
          labelTopLeft="Password"
          type="password"
          name="password"
          placeholder="password"
        />
        <button class="btn btn-primary btn-error mt-2">Delete account</button>
      </form>
    </main>
  </div>
</BlankLayout>
