---
import FlashMessages from "../components/FlashMessages.astro";
import CardForm from "../components/form/CardForm.astro";
import FormInput from "../components/form/Input.astro";
import HeroLayout from "../layouts/Hero.astro";
---

<HeroLayout pageTitle="todo signup" topnav="bare">
	<FlashMessages />
	<CardForm
		action="/signup"
		method="post"
		title="Signup"
		submitBtnText="Sign up"
		boldTitle={true}
	>
		<FormInput
			type="text"
			name="username"
			placeholder="username"
			labelTopLeft="Username"
		/>
		<FormInput
			type="email"
			name="email"
			placeholder="email"
			labelTopLeft="Email"
		/>
		<FormInput
			type="password"
			name="password"
			placeholder="password"
			labelTopLeft="password"
		/>
		<FormInput
			type="password"
			name="password_check"
			placeholder="password"
			labelTopLeft="Confirm password"
		/>
		<a
			href="/login"
			class="link text-xs link-primary self-center"
			slot="after-submit"
		>
			Already have an account? Log in now
		</a>
	</CardForm>
</HeroLayout>
