---
import HeroLayout from "../layouts/Hero.astro";
import CardForm from "../components/form/CardForm.astro";
import FormInput from "../components/form/Input.astro";
import FormTextArea from "../components/form/TextArea.astro";
import Checkbox from "../components/form/Checkbox.astro";
import FlashMessages from "../components/FlashMessages.astro";
---

<HeroLayout pageTitle="Edit task" topnav="full">
	<FlashMessages />
	<Fragment set:html={`<%
	let edit_task_url = format!("/tasks/{}/edit", task.task_id);
	let text = task.text.unwrap_or_default();
	%>`} />
	<CardForm
		action={`<%= edit_task_url %>`}
		method="post"
		title="Edit task"
		boldTitle={true}
	>
	<FormInput
		type="text"
		name="title"
		labelTopLeft="Title"
		value={`<%= task.title %>`}
	/>
	<FormTextArea
		name="text"
		labelTopLeft="Text"
		value={`<%= text %>`}
		required={false}
	/>
	<Fragment set:html={`<% if task.status == "complete" { %>`} />
	<Checkbox
		label="Completed"
		name="completed"
		checked={true}
		required={false}
	/>
	<Fragment set:html={`<% } else { %>`} />
	<Checkbox
		label="Completed"
		name="completed"
		required={false}
	/>
	<Fragment set:html={`<% } %>`} />
	<FormInput
		type="text"
		name="tags"
		labelTopLeft="Tags"
		labelTopRight="Comma-seperated"
		value={`<%= task.tags.join(", ") %>`}
		required={false}
	/>
</CardForm>
</HeroLayout>
