---
import { colorVariants } from "../../twUtil";

/// A form that looks like a button. Made for making POST requests easily.
export interface Props {
	text: string;
	action: string;
	method: "get" | "post";
	btnColor?: keyof typeof colorVariants.daisyButton;
};

const { text, action, method, btnColor } = Astro.props;
const formClasses = [
	"btn",
	btnColor ? colorVariants.daisyButton[btnColor] : undefined,
	"p-0"
]
---

<form action={action} method={method} class:list={formClasses}>
	<button class="flex items-center justify-center h-full px-4">{text}</button>
</form>
