---
export interface Props {
	action: string;
	method: "get" | "post";
	title: string;
	maxWidth?:
		| "max-w-xs"
		| "max-w-sm"
		| "max-w-md"
		| "max-w-lg"
		| "max-w-xl"
		| "max-w-2xl"
		| "max-w-full";
	submitBtnText?: string;
	boldTitle?: boolean;
}

const { title, action, method, maxWidth, submitBtnText, boldTitle } = Astro.props;
const formClass = [
	"card",
	"flex-shrink-0",
	maxWidth || "max-w-sm",
	"w-full",
	"bg-base-100",
	"shadow-2xl",
].join(" ");

const boldTitleClass = ["text-2xl", "font-bold", "self-center"].join(" ");
const titleClass = ["card-title", boldTitle && boldTitleClass].join(" ")
---

<form action={action} method={method} class={formClass}>
	<div class="card-body">
		<h2 class={titleClass}>{title}</h2>
		<slot />
		<div class="form-control self-center mt-4 w-full">
			<button class="btn btn-primary">{submitBtnText || "Submit"}</button>
		</div>
		<slot name="after-submit" />
	</div>
</form>
