---
export interface Props {
	type: "text" | "password" | "email";
	description: string;
	placeholder?: string;
	name: string;
	value?: string;
	required?: boolean;
	readonly?: boolean;
}
const {
	type,
	description,
	placeholder,
	name,
	value,
	required = true,
	readonly = false,
} = Astro.props;

// Stupid hack because astro doesn't support unescaped attributes
// https://github.com/withastro/astro/issues/2095
const inputElem =  [
	`<input`,
	`type=${type}`,
	`class="input input-bordered max-w-xs w-full"`,
	`name=${name}`,
	(value && `value="${value}"`),
	(required && `required`),
	(readonly && `readonly`),
	(placeholder && `placeholder="${placeholder}"`),
	`/>`,
].join(" ");
---

<div class="form-control">
	<label class="input-group">
		<span>{description}</span>
		<Fragment set:html={inputElem} />
	</label>
</div>
