---
export interface Props {
	placeholder?: string;
	labelTopLeft?: string;
	labelTopRight?: string;
	name: string;
	value?: string;
	required?: boolean;
	readonly?: boolean;
}
const {
	placeholder,
	labelTopLeft,
	labelTopRight,
	name,
	value,
	required,
	readonly,
} = Astro.props;

// Stupid hack because astro doesn't support unescaped attributes
// https://github.com/withastro/astro/issues/2095
const textAreaElem = [
	`<textarea `,
	`class="textarea textarea-bordered max-w-xs w-full" `,
	`name=${name} `,
	(required && `required `),
	(readonly && `readonly `),
	(placeholder && ` placeholder="${placeholder}" `),
	`>`,
	value,
	`</textarea>`
].join("");
---

<div class="form-control">
	{
		(labelTopLeft || labelTopRight) && (
			<label class="flex items-center justify-between">
				{labelTopLeft && <span class="label-text">{labelTopLeft}</span>}
				{labelTopRight && <span class="label-text-alt">{labelTopRight}</span>}
			</label>
		)
	}
	<Fragment set:html={textAreaElem} />
</div>
